<div class="page-header">
        <h1>Catalogs 1</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>List of catalogs</h3>
        <div id="catalogs"></div>
    </div>
    <div class="col-md-6">
        <h3>Editing area</h3>
    </div>
    <div class="col-md-3">
        <h3>Select from this collection</h3>
    </div>


</div>