<div class="page-header">
        <h1>Catalogs</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>List of catalogs</h3>
        {{outlet catalogs}}
    </div>
    <div class="col-md-6">
        <h3>Editing area</h3>
        {{outlet}}
    </div>
    <div class="col-md-3">
        <h3>Select from this collection</h3>
        {{control "categoryRoot" CatalogApp.CategoryRoot}}
    </div>


</div>