<form class="form input-group" method="patch">
    <input type='text' class='form-control edit' name="catalog-name"/>
        <span class="input-group-btn">
                <button disabled="disabled" class="btn btn-primary new-catalog-button submit" type="button" name="submit">
                    Add
                </button>
        </span>
</form>

