<div class="input-group">
    <input type='text' class='form-control' />
        <span class="input-group-btn">
                <button class="btn btn-primary new-catalog-button" type="button">
                    Add
                </button>
        </span>
</div>

